.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
}
.box-items{
    width: 150px;
    height: 150px;
    border: 3px solid black;
    color: red;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: boxes ease-in-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-direction:alternate ;
    margin: 80px;
}
.box-items:nth-child(1){
    animation-delay: 0s;
    background-image: url('/img/dog-7019418_640.jpg');
    box-shadow: 7px 7px 8px grey;
}
.box-items:nth-child(2){
    animation-delay: 0.2s;
    background-image: url('/img/hydrangea-9941409_640.jpg');
}
.box-items:nth-child(3){
    animation-delay: 0.4s;
    background-image: url('/img/dog-7019418_640.jpg');
    box-shadow: 7px 7px 8px grey;
}
.box-items:nth-child(4){
    animation-delay: 0.6s;
    background-image: url('/img/dog-7019418_640.jpg');
    box-shadow: 7px 7px 8px grey;
}
.box-items:nth-child(5){
    animation-delay: 0.8s;
    background-image: url('/img/dog-7019418_640.jpg');
    box-shadow: 7px 7px 8px grey;
}
.box-items:nth-child(6){
    animation-delay: 1s;
    background-image: url('/img/dog-7019418_640.jpg');
    box-shadow: 7px 7px 8px grey;
}
.box-items:nth-child(7){
    animation-delay: 1.2s;
    background-image: url('/img/dog-7019418_640.jpg');
    box-shadow: 7px 7px 8px grey;
}
.box-items:nth-child(8){
    animation-delay: 1.4s;
    background-image: url('/img/dog-7019418_640.jpg');
    box-shadow: 7px 7px 8px grey;
}
@keyframes boxes{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}