h4{
    color: silver;
    background-color: black;
    font-size: 50px;
}
p{
    /* background-color: red; */
    color: black;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}
thead,tfoot{
    color: red;
    background-color: yellow;
}
td{
    color: aqua;
    background-color: purple;
}
caption{
    color: red;
    font-style: oblique;
}
.t_upper{
    text-transform: uppercase;
    /* color: red; */
}
.t_lower{
    text-transform: lowercase;
    color: blue;
}
.t_capitalize{
    text-transform: capitalize;
    color: green;
}
.t_align_cent{
    text-align: center;
}
.t_right{
    text-align: right;
    
}
.t_decor_over{
    text-decoration: overline;
}
.t_line{
    text-decoration: line-through;
}
.t_under{
    text-decoration: underline ;
}
.t_all{
    text-decoration: overline underline line-through;
}
.t_indent{
    text-indent: 200px;
}
.t_line_ht{
    line-height: 40px;
}
.t_spacing{
    letter-spacing: 20px;
}
.w_spacing{
    word-spacing: 30px;
}
.t_shadow1{
    color: black;
    text-shadow: 5px 5px 6px grey;
    font-size: 70px;
    text-align: center;
}
.t_shadow2{
    color: purple;
    text-shadow: 6px 7px 7px black;
    font-size: 70px;
    text-align: center;
}
.imgb_shadow{
    width: 400px;
    box-shadow: 5px 7px 7px grey;
}
.imgb2_shadow{
    box-shadow: 6px 6px 7px #f54927;
    width: 400px;
}
.imgb3_shadow{
    box-shadow: 6px 7px 8px #020945;
    height: 300px;
    width: 400px;
    margin: 30px;
}
.imgd_shadow{
    width: 400px;
    filter: drop-shadow(6px 7px 7px aqua);
}
.imgd2_shadow{
    width: 500px;
    filter: drop-shadow(8px 8px 9px grey);
}
.f_family1{
    font-family: monospace;
    color: black;
    background-color: white;
}
.f_family2{
    font-family: cursive;
}
.f_family3{
    font-family: sans-serif;
}
.f_family4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.f_family5{
    font-family:fantasy;
}
.f_weight{
    font-weight: bolder;
    font-style: oblique;
}
.font_all{
    font: italic bolder 30px fantasy;
    font-variant: small-caps;
}
.t_example{
    color: red;
    font-size: 50px;
    text-transform: lowercase;
}
#t_example{
    color: blue;
    background-color: aqua;
}
.t_decor{
    text-decoration: underline;
    color: violet;
}
/* print number from 1 to 10 */
/* postion.html */
.box{
    height: 200px;
    width: 300px;
    background-color: lightgreen;
    border: 4px solid black;
    margin-bottom: 10px;
}
.box1{
    position: static;
}
.box2{
    position: relative;
    top: 30px;
    left: 150px;
}
.box3{
    position: absolute;
    top: 30px;
    left: 150px;
}
.box4{
    position: fixed;
    bottom: 0px;
    right: 10px;
}
.box5{
    position: sticky;
    top: 0;

}
/* rel and abs html */
.rel{
    position: relative;
    height: 400px;
    width: 400px;
    background-color: blueviolet;
    left: 100px;
}
#tv{
    position: absolute;
    height: 60px;
    width: 150px;
    background-color: aqua;
    left: 110px;
}
#sofa{
    position: absolute;
    width: 200px;
    height: 80px;
    left: 90px;
    top: 120px;
    background-color: blue;
}
#fridge{
    position: absolute;
    width: 80px;
    height: 150px;
    top: 250px;
    left: 320px;
    background-color: wheat;
}
/* bg_image html */
body{
    background-image: url(/img/starry\ sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.heading{
    color: antiquewhite;
    text-align: center;
    font-size: 60px;
}
.para{
    color: white;
    padding: 30px;
    font-size: 30px;
    font-weight: 700px;
    font-family: cursive;
}
/* background html */
.linear{
    height: 400px;
    background: linear-gradient(to right, orange, white, green);
    border: 10px solid red;
}
.text{
    text-align: center;
    color: blue;
}
.radial{
    background: radial-gradient(ellipse at right top,red,blue,green,yellow);
    height: 500px;
    margin: 20px;
}
.conic{
    background: conic-gradient(red,yellow,pink,white,aqua);
    height: 600px;
    margin: 10px;
}