.text_container{
    display: flex;
    justify-content: center;
    justify-items: center;
    font-family: sans-serif;
    font-size: 70px;
    font-weight: 800;
    perspective: 100px;
    letter-spacing: 4px;
}
.text_container>b{
    animation: getup 10s infinite;
    box-shadow: 0px 30px 15px grey;
    height: 80px;
    width: 60px;
    background-clip: text;
    color: transparent;
    transform-origin: bottom;
    transform: rotateX(-85deg);
    color: black;
    background: linear-gradient(to right, red, orange, yellow, black);
}
.text_container>b:nth-child(1){
    animation-delay: 0s;
}
.text_container>b:nth-child(2){
    animation-delay: 0.20s;
}
.text_container>b:nth-child(3){
    animation-delay: 0.40s;
}
.text_container>b:nth-child(4){
    animation-delay: 0.60s;
}
.text_container>b:nth-child(5){
    animation-delay: 0.80s;
}
.text_container>b:nth-child(6){
    animation-delay: 1s;
}
@keyframes getup{
    from{transform: rotateX(-85deg);}
    10%,50%{transform: rotateX(0deg);}
    60%,to{transform: rotateX(-85deg);}
}
/* .text_container:hover{
    color: purple;
    font-style: italic;
    transform: scale(1.2) translateY(-85deg);
} */