.container{
    position: relative;
    margin: 100px;
}
div{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    color: white;
    border: 3px solid white;
    text-align: center;
}
.blue{
    background-color: blue;
    left: 40px;
    z-index: 2;
}
.red{
    background-color: red;
    left: 80px;
    z-index: 1;
}
.red:hover{
    background-color: blueviolet;
    z-index: 40px;
}
.green{
    background-color: green;
    left: 120px;
    z-index: 1;
}
